# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Build / output
output/*.md

# OS/editor
.vscode/
.DS_Store
Thumbs.db
